.container-content-chat{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #d6dbe1;
    border-right: none;
    width: 71%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    //slide
    .slides{
      width: 100%;
      height: 70%;
      display: flex;
      flex-direction: column;

      .slogan{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;
        text-align: center;
        .slogan-title{
            font-size: 30px;
        }
    }
    .swiper {
        width: 100%;
        height: 60%;
        padding-bottom: 50px;

      }
      
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
      
        /* Center slide text vertically */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .slide-title{
            font-weight: bold;
            font-size: 22px;
            width: 100%;
            line-height: 40px;
            color: #005ae0;
        }
        .slide-content{
            width: 100%;
            line-height: 40px;
        }
      }
      
      .swiper-slide img {
        display: block;
        width: 30%;
        height: 70%;
        object-fit: cover;
        margin-bottom: 20px;
      }
    }
    .content-chat{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      .chat-header{
        width: 100%;
        display: flex;
        flex-direction: row;
        border-right: 1px solid #d6dbe1;   
        height: 12%; 
        justify-content: space-between;
        .chat-header-left{
          display: flex;
          width: 50%;
          .chat-header-left-avt  {
            width: 100px;
            height: 100%;
            display: flex;
            justify-content:center;
            align-items: center;
            cursor: pointer;
            .icon{
              border: 1px solid #fff;
              padding: 10px;
              border-radius: 50%;
              font-size: 40px;
          }
          }
          .chat-header-left-name {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            align-items: flex-start;
            .user{
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              .user-name{
                font-size: 1.125rem;
                font-weight: 600;
                line-height: 1.5;
                color: #081c36;
              }
              
              .user-edit{
                margin-left: 10px;
                cursor: pointer;
                color: #fff;
                border-radius: 50%;
                padding: 2px 5px;
              }
              .user-edit:hover{
                color: #17273b;
                background-color: #c3c1c1;
              }
            }
            
            .is-active{
              color: #7589a3;
              font-weight: 400;
              line-height: 1.5;
            }
          }
        }   
        
        .chat-header-right{
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 50%;
          margin-right: 20px;
          .chat-header-right-icon{
            display: flex;
            justify-content:center;
            align-items: center;
            width: 50px;
            height: 50%;
            cursor: pointer;
            .icon{
              font-size: 30px;
              opacity: 0.8;
            }
          }
          .chat-header-right-icon:hover{
            background-color: #d6dbe1;
          }
          
        }
        
      }
      .chat-view{
        width: 99%;
        display: flex;
        flex-direction: column;
        border: 1px solid #d6dbe1;
        height: 70%;
        overflow-y: scroll;
        background-color: #e7e7e4;
        
        .message{
          width: 97%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-start;
          padding: 0px 10px;
          margin-bottom: 20px;
          
          .avatar-user{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 15px;
          }

          .content-message{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            border-radius: 10px;
            padding: 5px 15px;
            background-color: white;

            .mess{
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              max-width: 600px;

              .ms-emotion{
                width: 20px;
                height: 20px;
                border-radius: 50%;
              }

            }

            .info + .info{
              margin-top: 5px;
            }
          }
        }

      }
      .chat-utilities{
        width: 100%;
        display: flex;
        flex-direction: row;
        border-right: 1px solid #d6dbe1;
        height: 6%;    
        margin: 5px;
        .chat-utilities-icon{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 50px;
          cursor: pointer;
          .icon{
            font-size: 25px;
            opacity: 0.8;
            cursor: pointer;
          }
        }
        .chat-utilities-icon:hover{
          background-color: #d6dbe1;
        }  

      }
      .chat-text{
        width: 100%;
        display: flex;
        flex-direction: row;
        border: 1px solid #d6dbe1;
        height: 12%;       
        .chat-text-left{
          width: 70%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          .chat-text-input{
            width: 100%;
            padding: 10px;
            margin-left: 1px;
            outline: none;
            border: none;
            font-size: 18px;
            font-weight: 400;
            line-height: 2;
          }
        }
        .chat-text-right{
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          width: 30%;
          .chat-text-icon{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50%;
            cursor: pointer;
            .icon{
              font-size: 20px;
              opacity: 0.8;
            }

            .content-icons{
              position: absolute;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-evenly;
              width: 300px;
              height: 350px;
              top: -450px;
              right: 25px;
              padding-top: 5px;
              background-color: white;

              .emotion{
                width: 50px;
                height: 50px;
              }
            }
          }
          .chat-text-icon:hover{
            background-color: #d6dbe1;
          }
        }
      }
    }
    .chat-info{
      width: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border: 1px solid #d6dbe1;
      .header{
        position: sticky;
        height: 87px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.5;
        border-bottom: 1px solid #d6dbe1;
      }
      .header-info{
        width: 100%;
        height: 220px;
        display: flex;
        flex-direction: column;
        border-bottom: 8px solid #d6dbe1;
        justify-content: flex-start;
        align-items: center;
        .header-info-avt{
          width: 100%;
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          .icon{
            font-size: 40px;
            border: 1px solid #7d7d7d;
            padding: 10px;
            border-radius: 50%;
          }
        }
        .header-info-name{
          display: flex;
          height: 40px;
          width: 100%;
          justify-content: center;
          align-items: center;
          .user-name{
            font-size: 1.125rem;
            font-weight: 600;
            line-height: 1.5;
            color: #081c36;
          }
          .user-edit{
            margin-left: 10px;
            cursor: pointer;
          }
        }
        .header-info-utilities{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 90px;
          .notif, .pin-chat, .group-chat{
            display: flex;
            flex-direction: column;
            width: calc(100%/3);
            height: 100%;
            justify-content: center;
            align-items: center;
            color: #7589a3;
            .icon{
              font-size: 24px;
              border-radius: 50%;
              background-color: #d6dbe1;
              padding: 10px;
              color: #081c36;
              cursor: pointer;
            }
            .icon:hover{
              background-color: #a7afb8;
            }
          }
        }
      }
      .chat-info-general{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 80px;
        border-bottom: 8px solid #d6dbe1;
        .list-remider, .group-general{
          display: flex;
          width: 100%;
          height: 40px;
          align-items: center;
          justify-content: flex-start;
          .icon{
            font-size: 28px;
            color: #17273b;
            cursor: pointer;
            margin: 0px 10px;
          }
        }
        .list-remider:hover, .group-general:hover{
            background-color: #e5eaf0;
        }
      }
      .group-media{

      }
      .group-file{

      }
      .group-link{

      }
      .group-setting{

      }
    }
      

}