.container-list-chat{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #d6dbe1;
    width: 25%;
    height: 100%;

    .contents-chats{
        width:100%;
        height:65px;

        .user-chat{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 5px;
            padding: 10px 0px;
            transition: all 0.1s;
            cursor: pointer;
        }
        
        .user-chat:hover{
            background-color: #ebe9e9;
        }
        .utils{
            padding: 5px 5px 5px 10px;
            width: 100%;
            text-align: start;
            margin: 5px 0;
        }
        .utils:hover{
            background-color: #d6dbe1;
        }
        .icon{
            padding: 5px;
        }
        .icon:hover{
            color: #0373fb;
            background-color: #dce6f3;
            border-radius: 5px;
        }
    }

    .contents-search-types{
        width: 95%;
        height: 15%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;

        .content-search{
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 10px;

            .search{
                width: 75%;
                height: 55%;
                border-radius: 8px;
                border: none;
                background-color: #eaedf0;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                .icon-search{
                    width: 30px;
                    text-align: center;
                }

                .input-search{
                    width: calc(100% - 30px);
                    height: 80%;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    padding-right: 10px;
                }
            }

            .icon-user{
                cursor: pointer;
                padding: 8px;
            }

            .icon-user:hover{
                background-color: #eaedf0;
                border-radius: 5px;
            }
        }

        .content-type{
            width: 100%;
            height: 40%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            padding-bottom: 8px;
            border-bottom: 1px solid #d6dbe1;

            .type-chat{
                position: relative;
                width: 30%;
                height: 50%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;

                .text{
                    font-weight: bold;
                }

                .border{
                    position: absolute;
                    border: 1px solid #0068ff;
                    width: 48px;
                    left: 0px;
                    bottom: -8px;
                    transition: all 0.2s;
                }

                
            }     
            
            .type-chat:hover .border{
                width: 38px;
                left: 65px;
                }

            .type-status{
                width: 30%;
                height: 50%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
            }
        }
    }
}