.container-login{
    width: 100%;
    height: 99.9vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url("/public/background/bg-zalo.png");

    .form-login{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        height: 80%;

        .title{
            font-size: 65px;
            font-weight: bold;
            color: #056BFF;
            height: 10%;
        }

        .content{
            font-size: 20px;
            text-align: center;
            line-height: 1.5;
            height: 10%;
            margin: 40px 0px 30px;
        }

        .form{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 50%;
            height: 70%;
            background-color: white;

            .choose-login{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 50px;
                width: 100%;

                span{
                    width: 50%;
                    text-align: center;
                    cursor: pointer;
                }

                span + span {
                    border-left: 1px solid black;
                }
            }
            .login-by-phone, .login-by-qrcode{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                height: 100%;  
                .qrcode {
                    width: 260px;
                    height: 280px;
                    margin-bottom: 10px;
                    border: 1px solid #ccc;
                    border-radius: 18px;
                    padding-top: 25px; /* Tạo khoảng cách giữa viền và mã QR code */
                    padding-bottom: 20px;
               display: flex;
               flex-direction: column;
               align-items: center;
               .textUnder{
                margin: -23px;
               }
                }
                span {
        font-size: 15px;
        color: #6d6c6c;
        text-align: center;
        font-weight: bold;
        margin-bottom: 0px;
    }
            }
            .form-content-gender{
                width: 80%;
                height: 10%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: end;

            }
            .form-content{
                width: 80%;
                height: 20%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: end;
                padding-bottom: 10px;
                border-bottom: 1px solid black;

                .icon{
                    font-size: 25px;
                }

                .select-national{
                    height: 50%;
                    width: 60px;
                    text-align: end;
                    border: none;
                    outline: none;
                }
                
                .input-phone{
                    height: 50%;
                    width: calc(100% - 85px);
                    font-size: 15px;
                    border: none;
                    outline: none;
                }

                .input-password{
                    height: 50%;
                    width: calc(100% - 35px);
                    font-size: 15px;
                    border: none;
                    outline: none;
                }
            }

            .button-login{
                width: 80%;
                height: 15%;
                background-color: #0190F3;
                border: none;
                color: white;
                cursor: pointer;
                border-radius: 5px;
            }

            .button-register{
                width: 80%;
                height: 15%;
                border: 1px solid #EBEBEB;
                color: #0190F3;
                background-color: white;
                cursor: pointer;
                border-radius: 5px;
            }
            
            .button-phone:hover{
                border: 1px solid #0190F3;
            }

            .forget-password:hover{
                color: #0190F3;
                cursor: pointer;
            }
        }
    }
}