.container-nav-bar{
    border: 1px solid #d6dbe1;
    width: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #0091ff;
    .nav-avt{
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
       
        .icon{
            border: 1px solid #fff;
            padding: 10px;
            border-radius: 50%;
            font-size: 50px;
            color: #fff;
        }
        .nav-avt-menu{
            z-index: 1;
            position: absolute;
            width: 200px;
            height: 140px;
            top: 30px;
            left: 70px;
            background-color: #ffffff;
            border-radius: 2%;
            box-shadow: 0 0 5px #b4a7a7;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            .child{
                display: flex;
                align-items: center;
                margin-left: 5px;
                height: 25px;
                width: 90%;
                padding: 5px;
            }
            .name{
                font-size: 20px;
                font-weight: 600;
                border-bottom: 1px solid #b4a7a7;
                margin-top: 5px;
            }
            .sign-out{
                padding-top: 5px;
                border-top: 1px solid #b4a7a7;
            }
            .profile:hover, .sign-out:hover, .setting:hover{
                color: #0373fb;
                cursor: pointer;
            }

        }
    }
    .nav-group{
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .nav-group-chat{
            width: 100%;
            height: calc(100%/3);
            display: flex;
            flex-direction: column;
            .group-icon{
                display: flex;
                flex-direction: row;
                justify-content:center;
                align-items: center;
                width: 100%;
                height: calc(100%/3);
                cursor: pointer;
                .icon{
                    font-size: 30px;
                    color: #fff;
                }
            }
        }
        .nav-group-utilities{
            width: 100%;
            height: calc(100%/3);
            display: flex;
            flex-direction: column;
            .group-icon{
                display: flex;
                flex-direction: row;
                justify-content:center;
                align-items: center;
                width: 100%;
                height: calc(100%/3);
                cursor: pointer;
                .icon{
                    font-size: 25px;
                    color: #fff;
                }
            }
        }
        .group-icon:hover{
            background-color: #006edc;
        }
        .group-icon::selection{
            background-color: #1a5fba;

        }
    }
    
}