.container-content-chat{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid blue;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .slogan{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;
        text-align: center;
        .slogan-title{
            font-size: 30px;
        }
    }
    .swiper {
        width: 100%;
        height: 50%;
      }
      
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
      
        /* Center slide text vertically */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .slide-title{
            font-weight: bold;
            font-size: 22px;
            width: 100%;
            line-height: 40px;
            color: #005ae0;
        }
        .slide-content{
            width: 100%;
            line-height: 40px;
        }
      }
      
      .swiper-slide img {
        display: block;
        width: 30%;
        height: 50%;
        object-fit: cover;
        margin-bottom: 20px;
      }

}